<div class="row">
    <div class="col-lg-12">
          <h1 class="page-header">Corte - {{ machine.name }}</h1>
    </div>
</div>

<div class="row">
        <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12" align="center">
            <div class="omega-container">
                <a href="/static/assets/corte/Desenho_Peca_Hibrida_C4.pdf" target="_blank">
                    <img src="/static/res/images/pdf_icon.png" width="80px" style="margin-right:10px">
                    Desenho_Peça_Híbrida_C4.pdf
                </a>
            </div>
        </div>
    </div>
</div>