{% extends "base_layout.html" %}

{% block scripts %}
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container" id="dash-content">
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
              <h1 class="page-header" style="margin-left: 15px;">Supervisão Integrada</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <div class="tree">
                <ul>
                    <li> <span class="btn-success"><i class="fa fa-check"></i> Planta A</span>
                        <ul>
                            <li>
                                <a href="maquina/1/" data-toggle="tooltip" title="SN: 016019052420" data-placement="right">
                                    <span class="btn-xs btn-success"><i class="fa fa-check"></i> INSPER_FANUC</span>
                                </a>
                            </li>
                            <li>
                                <a href="maquina/2/" data-toggle="tooltip" title="SN: 016019052499" data-placement="right">
                                    <span class="btn-xs btn-success"><i class="fa fa-check"></i> INSPER_ROMI</span>
                                </a>
                            </li>
                            <li>
                                <a href="maquina/3/" data-toggle="tooltip" title="SN: 016019052499" data-placement="right">
                                    <span class="btn-xs btn-success"><i class="fa fa-check"></i> ROMISHOWROOM</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <script>
                $(function () {
                    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse');
                    $('.tree li.parent_li > span').on('click', function (e) {
                        var children = $(this).parent('li.parent_li').find(' > ul > li');
                        if (children.is(":visible")) {
                            children.hide('fast');
                        } else {
                            children.show('fast');
                        }
                        e.stopPropagation();
                    });
                });

                $(window).bind("load resize", function () {
                    var height = this.window.innerHeight - 116;
                    if (height < 1) height = 1;
                    if (height > 700) {
                        $("#dash-content").css("min-height", (height) + "px");
                    }
                });
            </script>
        </div>
    </div>
</div>
{% endblock %}
