<div class="row">
    <div class="col-lg-12">
          <h1 class="page-header">Folha de Processo - {{ machine.name }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3 align="center">Fase 10</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <img src="/static/res/images/folha/fase10-main-edit.png" width="100%">
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="table-responsive folha-table">
            <table class="table table-striped">
                <thead>
                    <tr align="center">
                        <th><b>Dados Usinagem</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Programa:</td>
                        <td>Peça Híbrida</td>
                    </tr>
                    <tr>
                        <td>Máquina</td>
                        <td>GL 350 B</td>
                    </tr>
                    <tr>
                        <td>Material</td>
                        <td>Aço 1045 Ø76 x 122 mm</td>
                    </tr>
                    <tr>
                        <td>Tempo de Usinagem</td>
                        <td>xxxx</td>
                    </tr>
                    <tr>
                        <td>Ferramentas</td>
                        <td>ISCAR</td>
                    </tr>
                </tbody>
            </table>
            <!--end table-->
        </div>
    </div>
</div>

<div class="row">

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="table-responsive folha-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><b>1 - T0101 - Desbaste Externo</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center" height="160px">
                            <img class="folha-img" src="/static/res/images/folha/fase10-01.jpg" >
                        </td>
                    </tr>
                    <tr>
                        <td>VC = 200 m/min</td>
                    </tr>
                    <tr>
                        <td>f = 0,25 mm/rot</td>
                    </tr>
                    <tr>
                        <td>ap = 2,5mm</td>
                    </tr>
                </tbody>
            </table>
            <!--end table-->
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="table-responsive folha-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><b>2 - T0202 - Acabamento Externo</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center" height="160px">
                            <img class="folha-img" src="/static/res/images/folha/fase10-02.jpg">
                        </td>
                    </tr>
                    <tr>
                        <td>VC = 280 m/min</td>
                    </tr>
                    <tr>
                        <td>f = 0,18 mm/rot</td>
                    </tr>
                    <tr>
                        <td>ap = 0,5 mm</td>
                    </tr>
                </tbody>
            </table>
            <!--end table-->
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="table-responsive folha-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><b>3 - T1111 - Furação Broca Ø20mm</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center" height="160px">
                            <img class="folha-img" src="/static/res/images/folha/fase10-03.jpg">
                        </td>
                    </tr>
                    <tr>
                        <td>VC = 100 m/min</td>
                    </tr>
                    <tr>
                        <td>f = 0,1 mm/rot</td>
                    </tr>
                    <tr>
                        <td>ap = 15 mm</td>
                    </tr>
                </tbody>
            </table>
            <!--end table-->
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="table-responsive folha-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><b>4 - T0808 - Desbaste e Acabamento Interno</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center" height="160px">
                            <img class="folha-img" src="/static/res/images/folha/fase10-04.jpg">
                        </td>
                    </tr>
                    <tr>
                        <td>VC = 200/250 m/min</td>
                    </tr>
                    <tr>
                        <td>f = 0,2 mm/rot</td>
                    </tr>
                    <tr>
                        <td>ap = 1,5/0,5 mm</td>
                    </tr>
                </tbody>
            </table>
            <!--end table-->
        </div>
    </div>

</div>

<div class="row" style="margin-top: 40px;">
    <div class="col-lg-12">
        <h3 align="center">Fase 20</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <img src="/static/res/images/folha/fase20-main-edit.png" width="100%">
    </div>
</div>

<div class="row">

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="table-responsive folha-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><b>5 - T0303 - Desbaste Externo</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center" height="160px">
                            <img class="folha-img" src="/static/res/images/folha/fase20-05.jpg">
                        </td>
                    </tr>
                    <tr>
                        <td>VC = 220 m/min</td>
                    </tr>
                    <tr>
                        <td>f = 0,25 mm/rot</td>
                    </tr>
                    <tr>
                        <td>ap = 2,5 mm</td>
                    </tr>
                </tbody>
            </table>
            <!--end table-->
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="table-responsive folha-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><b>6 - T0404 - Desbaste Externo B</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center" height="160px">
                            <img class="folha-img" src="/static/res/images/folha/fase20-06.jpg">
                        </td>
                    </tr>
                    <tr>
                        <td>VC = 200 m/min</td>
                    </tr>
                    <tr>
                        <td>f = 0,2 mm/rot</td>
                    </tr>
                    <tr>
                        <td>ap = 2 mm</td>
                    </tr>
                </tbody>
            </table>
            <!--end table-->
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="table-responsive folha-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><b>7 - T0707 - Furação Broca Ø20mm</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center" height="160px">
                            <img class="folha-img" src="/static/res/images/folha/fase20-07.jpg">
                        </td>
                    </tr>
                    <tr>
                        <td>VC = 200 m/min</td>
                    </tr>
                    <tr>
                        <td>f = 0,2 mm/rot</td>
                    </tr>
                    <tr>
                        <td>ap = 15 mm</td>
                    </tr>
                </tbody>
            </table>
            <!--end table-->
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="table-responsive folha-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><b>8 - T0909 - Desbaste e Acabamento Interno</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center" height="160px">
                            <img class="folha-img" src="/static/res/images/folha/fase20-08.jpg">
                        </td>
                    </tr>
                    <tr>
                        <td>VC = 200 m/min</td>
                    </tr>
                    <tr>
                        <td>f = 0,2 mm/rot</td>
                    </tr>
                    <tr>
                        <td>ap = 1,5 mm</td>
                    </tr>
                </tbody>
            </table>
            <!--end table-->
        </div>
    </div>

</div>

<div class="row">

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="table-responsive folha-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><b>9 - T0505 - Fresa Radial Ø 20mm</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center" height="160px">
                            <img class="folha-img" src="/static/res/images/folha/fase20-09.jpg">
                        </td>
                    </tr>
                    <tr>
                        <td>VC = 200 m/min</td>
                    </tr>
                    <tr>
                        <td>f = 0,2 mm/rot</td>
                    </tr>
                    <tr>
                        <td>ap = 2,5 mm</td>
                    </tr>
                </tbody>
            </table>
            <!--end table-->
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="table-responsive folha-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><b>10 - T1010 - Broca Radial Ø 6mm</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center" height="160px">
                            <img class="folha-img" src="/static/res/images/folha/fase20-10.jpg">
                        </td>
                    </tr>
                    <tr>
                        <td>VC = 200 m/min</td>
                    </tr>
                    <tr>
                        <td>f = 0,2 mm/rot</td>
                    </tr>
                    <tr>
                        <td>ap = 5 mm</td>
                    </tr>
                </tbody>
            </table>
            <!--end table-->
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="table-responsive folha-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><b>11 - T0113 - Acabamento Externo</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center" height="160px">
                            <img class="folha-img" src="/static/res/images/folha/fase20-11.jpg">
                        </td>
                    </tr>
                    <tr>
                        <td>VC = 200 m/min</td>
                    </tr>
                    <tr>
                        <td>f = 0,2 mm/rot</td>
                    </tr>
                    <tr>
                        <td>ap = 0,5 mm</td>
                    </tr>
                </tbody>
            </table>
            <!--end table-->
        </div>
    </div>

</div>