<div class="row">
    <div class="col-lg-12">
          <h1 class="page-header">Suporte - {{ machine.name }}</h1>
    </div>
</div>



<div class="row" style="padding-top: 20px" >
    <div class="col-lg-offset-3 col-lg-6 col-md-offset-0 col-md-12 col-sm-offset-0 col-sm-12 col-xs-offset-0 col-xs-12">
        <div class="table-responsive" id="support-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><b>Informações Técnicas</b></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Máquina</td>
                        <td> {{ machine.name }} </td>
                    </tr>
                    <tr>
                        <td>Número Serial</td>
                        <td> {{ machine.serial }} </td>
                    </tr>
                    <tr>
                        <td>CNC</td>
                        <td> {{ machine.cnc }}</td>
                    </tr>
                    <tr>
                        <td>Versão software CNC</td>
                        <td> {{ machine.cnc_swv }} </td>
                    </tr>
                    <tr>
                        <td>Versão Hardware Monitoramento</td>
                        <td> {{ machine.mon_hw_ver }} </td>
                    </tr>
                    <tr>
                        <td>Versão Software Monitoramento</td>
                        <td> {{ machine.mon_sw_ver }} </td>
                    </tr>
                </tbody>
            </table>
            <!--end table-->
        </div>
    </div>
    <!--end div table -->
</div>

<div class="row" style="padding-top: 80px">
    <div class="col-lg-3 col-md-3">
        <img src="/static/res/images/romi_logo.jpg" alt="ROMI logo" width="200px">
    </div>

    <div class="col-lg-9 col-md-9 ">
        <p>
        <b>Indústrias Romi S.A.</b></br>
            Avenida Pérola Byington, 56 (matriz) e Rodovia SP304, km 141,5 (distrito)</br>
            Santa Bárbara d'Oeste/SP - Brasil </br>
            CEP 13453-900 </br>
            Telefone: +55 19 3455-900</br>
        </p>
    </div>
</div>

<div class="row" style="padding-top: 80px">
    <div class="col-lg-3 col-md-3 ">
        <img src="/static/res/images/omega_logo.png" alt="Omega7 Systems logo" width="200px">
    </div>

    <div class="col-lg-9 col-md-9 ">
        <p >
            <b>Omega7 Systems Informática Ltda. - EPP</b></br>
            Avenida Shishima Hifumi, 2911 - Sala 10</br>
            São José dos Campos/SP - Brasil </br>
            CEP 12224-000 </br>
            Telefone: +55 12 99666-3366</br>
        </p>
    </div>
</div>

<div class="row" style="padding-top: 80px; padding-bottom: 80px">
    <div class="col-lg-3 col-md-3 ">
        <img src="/static/res/images/ni_logo.jpg" alt="National Instruments logo" width="200px">
    </div>

    <div class="col-lg-9 col-md-9 ">
        <p>
            <b>National Instruments Brazil</b></br>
            Av. Paulista, 509 - 21º andar</br>
            São Paulo/SP - Brasil </br>
            CEP 01311-910 </br>
            Telefone: +55 11 3149-3149</br>
        </p>
    </div>
</div>
